<!DOCTYPE html>
<html> <!-- <html dir="rtl"> for arabic -->
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/a/icon/favicon-32x32.png"> 
  <!-- <link rel="manifest" href="/manifest.webmanifest"> <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">--><!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">--> 
  <meta charset=UTF-8>
  <script>/* Todo : use framwork.min.js here */ </script>
  <link rel="stylesheet" href="/a/bs5.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class=container>
    {{if .username}}
    <h4> name is {{.username}}</h4>
    {{else}}
    <div dir=rtl>
          <a class="btn btn-outline-success m-1" href="/login" >login</a>
          <a class="btn btn-outline-success m-1" href="/sign" >signup</a>
    </div>
    {{end}}
    
      <form action="/" method=post>
      <textarea  name="comment" id=comment placeholder="write a comment" rows="3" class="form-control"></textarea> <br>
      <input type="submit" value="Submit" class="btn btn-primary">
      </form>

      <div > 
        {{range .comments}}

        <div>comment id : {{.CommentId}}</div>
        <div>parent id :  {{.ParentId}}</div>
        <div>user id :    {{.UserId}}</div>
        <div>comment :    {{.CommentText}}</div>
        <div>link :       {{.Link}}</div>
        <div>avatar :     {{.AvatarLink}}</div>
        <div>date :       {{.TimeStamp}}</div>
        <br>

        {{end}}
      </div>
</div>
<style>
.cmnt {
    width: 100%;
} 

</style>
</body>
</html>


