{{template "header.html" }}
<body>
<div class="center">
    {{if .username}}
    <h4> name is {{.username}}</h4>
    {{else}}
    <div dir=rtl>
     <a href="/login">login</a>    
     <a href="/sign">singup</a>  
    </div>
     
    {{end}}

    <form action="/" method=post>
      <label for="name">First name:</label><br>
      <input type="text" name="name" id=name><br>
      <label for="comment">Last name:</label><br>
      <input type="text" name="comment" id=comment><br><br>
      <input type="submit" value="Submit" >
    </form>
    <div class=cmnt> 
        {{range .comments}} <div>{{.}}</div>{{end}}
    </div>
</div>
<style>
.cmnt {
    width: 100%;
} 

</style>
</body>
</html>


