{{template "header.html" }}
<body>
    <div class=container>
    <div dir=rtl>
    {{if .username}}
    <h4> name is {{.username}}</h4>
    {{else}}
          <a class="btn btn-outline-success m-1" href="/login" >login</a>
          <a class="btn btn-outline-success m-1" href="/sign" >singup</a>
    {{end}}
    </div>
    
      <form action="/" method=post>
      <textarea  name="comment" id=comment placeholder="write a comment" rows="3" class="form-control"></textarea> <br>
      <input type="submit" value="Submit" class="btn btn-primary">
      </form>

      <div > 
        {{range .comments}}

        <div>comment id : {{.CommentId}}</div>
        <div>parent id :  {{.ParentId}}</div>
        <div>user id :    {{.UserId}}</div>
        <div>comment :    {{.CommentText}}</div>
        <div>link :       {{.Link}}</div>
        <div>avatar :     {{.AvatarLink}}</div>
        <div>date :       {{.TimeStamp}}</div>
        <br>

        {{end}}
      </div>
</div>
<style>
.cmnt {
    width: 100%;
} 

</style>
</body>
</html>


