{{template "header.html" .}}
<body>
<div class=container>
    {{if .post}}
        {{$mypost := .post}}
        <div class="mt-4 m-5-xl">
        post title: 
        {{$mypost.Title}} <br>
        post body:
        {{$mypost.Post}}   <br>
        post date: 
        {{$mypost.Timestamp}} <br>
    
    </div>
    {{else}}

    <div class="mt-4 m-5-xl">
        <form action="/post/{{.userid}}" method=post>
        <textarea  name="post" id=post placeholder="write a post" rows="5" class="form-control" autofocus required></textarea> <br>
        <input type="submit" value="Submit" class="btn btn-outline-secondary">
    </div>
   </form>
   {{end}}
</body>
</html>
