{{ template "header.html" . }}
<body>
<!-- header is head and navbar -->
<div class="catigories"></div> 

<div class="center">

<div class=catigories>
    <a href="/cars">cars</a>
    <a href="/animals">animals</a>
    <a href="/mobiles">mobile</a>
    <a href="/motors">motors</a>
    <a href="/computers">computers</a>
    <a href="/services">services</a>
    <a href="/others">others</a>
</div>

    <div class="catigories">
        {{range .subCatigories}}
        <a class=chip-cat>{{.}}</a>
        {{end}}
   </div>
   <div class=cor> 
        {{if not .products}}Nothing to show{{end}}

    {{ range .products }} 
    <a href="product/{{.Id}}">
    <div class=card>
        <h3>{{.Title}}</h3>
        <p><b>Price:</b> {{.Price}} </p>
        {{if .Photo}}
        <img src="/fs/{{.Photo }}" />
        {{else}} 
        <p> No Photo for this product </p>
        {{end}} 
    </div>
    </a>
    {{ end }}
</div>

<div class="footer">this is a awsome footer</div>
</div>
</body>
<style>
.chip-cat {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  //text-decoration: none;
  display: inline-block;
  //font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
</html>
