{{template "header.html"}}    
{{template "navbar.html" .}}

<body>
<!-- header is head and navbar -->
<div class="cor">

<div class=center>
    <br><br><br><br>
    <form action="/update/{{.product.Id}}" method="post" enctype="multipart/form-data">
        <p>id:{{.product.Id}}</p>
        <p>title:</p>

        <input type="text" name=title placeholder="title" value={{.product.Title}}><br><br>
        <p:>catigory: </p>
        <select name="catigory">
            {{$catig := .product.Catigory}}
            <option value="computers"{{if eq $catig "computers"}} selected {{end}}>computers</option> 
            <option value="mobiles"  {{if eq $catig "mobiles"}} selected {{end}}>mobiles</option>
            <option value="motors"   {{if eq $catig "motors"}} selected {{end}}>motors</option>
            <option value="animals"  {{if eq $catig "animals"}} selected {{end}}>animals</option>
            <option value="cars"     {{if eq $catig "cars"}} selected {{end}}>cars</option>
            <option value="services" {{if eq $catig "services"}} selected {{end}}>services</option>
            <option value="others"   {{if eq $catig "others"}} selected {{end}}>others</option>
        </select><br><br>
    
        <p>Ditails:</p>
        <textarea name="description" title="write all details" placeholder="description" >{{.product.Description}}</textarea><br><br>
        <p>Price:</p>
        <input type="number" name=price placeholder="price" value='{{.product.Price}}'><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</div>
<div class=footer> footer  copyryght 2020 </div>
<script>
// onkeyup="this.value.length == 200 ? alert('stop') : null;" 
</script>
</body>
</html>
