<!DOCTYPE html>
<html> <!-- <html dir="rtl"> for arabic -->
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/a/icon/favicon-32x32.png"> 
  <!-- <link rel="manifest" href="/manifest.webmanifest"> <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">--><!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">--> 
  <meta charset=UTF-8>
  <script>/* Todo : use framwork.min.js here */ </script>
  <link rel="stylesheet" href="/a/bs5.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand"  href="/">logoSite</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/api">comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">blog</a>
        </li>
        
        {{if .username}}
            <a  class="btn btn-outline-success m-1" href="/post">new post</a>
        {{end}}
      </ul>
    </div>
    {{if .username}}
   
    <div class"row align-items-end">
    <a href="/acount/{{.userid}}" class="btn btn-outline-success">{{.username}}</a>
    {{else}}
          <a class="btn btn-outline-success m-1" href="/login" >login</a>
          <a class="btn btn-outline-success m-1" href="/sign" >signup</a>
    {{end}}
    </div>
  </div>
</nav>
<!--
<nav>
   <a href="/">Home</a>
   <a href="/comments">comments</a>
   <a href="/post">post</a> 

   <div class=acount>
   {{if .userid }} 
   <a href="/acount/{{.username}}" >{{.username}}</a>
   {{- else}}
   <a href="/login">Login</a>
   <a href="/sign">Signup</a>
   {{- end}}
   </div>
</nav>

-->
