<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  href="/">logoSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post">post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
 
    <div dir=rtl>
    {{if .username}}
    <h4> name is {{.username}}</h4>
    {{else}}
          <a class="btn btn-outline-success m-1" href="/login" >login</a>
          <a class="btn btn-outline-success m-1" href="/sign" >singup</a>
    {{end}}
    </div>
  </div>
</nav>
<!--
<nav>
   <a href="/">Home</a>
   <a href="/comments">comments</a>
   <a href="/post">post</a> 

   <div class=acount>
   {{if .userid }} 
   <a href="/acount/{{.username}}" >{{.username}}</a>
   {{- else}}
   <a href="/login">Login</a>
   <a href="/sign">Signup</a>
   {{- end}}
   </div>
</nav>

-->
